h5 {
	font-size: 1.2em;
	margin: 0.67em 0;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-size: 2em;
	margin: 0.67em 0;
	color: #000000;
	text-align: center;
}

h4{
	font-size: 1em;
	margin: 0.67em 0;
	color: #000000;
	text-align: center;
	font-weight: bold;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: opacity 0.5s 0.5s ease; 
	opacity: 0;
}

td.mo_rmse  {
	border: none;
}

td.mo_calc_button  {
	border-top: none !important;
}

td.hiddenRow  {
 	border: 0px solid #ddd !important;
}


td.mo_temperature
{
	text-align: center;
	color: #ffffff;
	padding:30px !important;
}

td.temp_circle_hot
{
	text-align: center;
	color: #ffffff;
	padding:30px 0 !important;
}

td.temp_circle_warm
{
	text-align: center;
	color: #ffffff;
	padding:30px 0 !important;
}

td.temp_circle_cold
{
	text-align: center;
	color: #ffffff;
	padding:30px 0 !important;
}

td.temp_circle_normal
{
	text-align: center;
	color: #ffffff;
	padding:30px 0 !important;
}

td.mo_windspeed
{
	text-align: center;
	color: #000000;
	padding-top:30px !important;
	
}


.location_search_name{
    float:right;
}
td.mo_windspeed p {
	padding-top:5px;
}

td.mo_summary p {
	padding-top:5px;
}

td.mo_logo p{
	padding-top:100px 0!important;
	
}
td.fo_temperature
{
	color: #ffffff;
	padding:30px !important;
}

td.fo_windspeed
{
	text-align: center;
	color: #000000;
		padding-top:30px !important;
}

td.fo_windspeed p {
	padding-top:5px;
}

td.fo_summary p {
	padding-top:5px;
}

tb.rankings {
	color: #FFFFFF;
	text-align: center;
	
}

td
{
	text-align: center;
	padding-top:25px;
	font-weight: bold;
}

td .summary_comparison_today_table {
	font-weight: normal;
	}

h1 {
	color: #FFFFFF;
	text-align: center;
}

h2{
	color: #FFFFFF;
	text-align: center;
}

.vertical-align {
    display: flex;
	padding-left: 40%	;
}

.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.btn-default{
	background-color:#3299CC !important;
}
}
.navbar {
	
	height: 80px;
}
.container .navbar {
	
	color: #FFFFFF;
}

.col-md-4.column {
	width: 12.5%;
	
	
}

.table-nonfluid {
   width: auto !important;
}

.page-header {
	height: 20px;
	text-align: center;
	padding-bottom:30px;
}

.table {
	border : 0;
}

table {
	margin-bottom: 0px !important;

}
.td {
	
	border: none;
	
}

.pull-right {
	padding-top:0px;
}
.rankings {
	
	background-image:  url("../images/5-rating.jpg");
	background-repeat: no-repeat;
	background-position-x: center;
    background-position-y: center;
}
.mo_windspeed {
	background-image:  url("../images/windspeed.png");
	background-repeat: no-repeat;
	background-position-x: center;
}

.fo_temperature {
	background-image:  url("../images/temp_cold.png");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
}

.temp_circle_hot {
	background:  url("../images/temp_hot.png") center center no-repeat;
	
}

.temp_circle_warm {

	background:  url("../images/temp_warm.png") center center no-repeat;
}
#search {
    float: right;
    margin-top:-20px;
}

.temp_circle_normal {
	background:  url("../images/temp_normal.png") center center no-repeat;
}

.temp_circle_cold {
	background:  url("../images/temp_cold.png") center center no-repeat;
	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border-bottom: 1px;
	border-radius: 4px;
}

  #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;  
